/* ----DEFAULT ELEMENT STYLING START---- */
html {
  /* Positioning */
  position: relative;
  /* Box-model */
  min-height: 100%;
}

body {
  /* Positioning */
  margin-bottom: 150px;
  /* Typography */
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  /* Visual */
  background-color: #ededed;
}

/* Media query for body */
@media only screen and (max-width: 767px) {
  /* Set background color to white on small screens */
  body {
    /* Visual */
    background-color: #fff;
  }
}
/* ----DEFAULT ELEMENT STYLING END---- */




/* ----NAV START---- */
.navbar-custom {
  background-color: #fff;
}

#logo {
  /* Box-model */
  height: 60px;
  padding-top: 20px;
  padding-bottom: 5px;
  /* Positioning */
  margin-left: 70px;
  font-family: Georgia, Times, "Times New Roman", serif;
  /* Typography */
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  /* Visual */
  background: #9b3a37;
}

/* Logo hover state */
#logo:hover {
  /* Visual */
  opacity: 0.7;
}

/* styling for right side of navbar */
.navbar-right-custom {
  /* Box-model */
  padding-top: 6px;
  padding-right: 20px;
  /* Typography */
  font-family: Arial;
  font-weight: lighter;
}

/* Nav element hover state */
.navbar-default .navbar-nav > li > a:hover {
  color: #9b3a37;
}

/* Media query for nav */
@media only screen and (max-width: 767px) {
  .navbar-header {
    background-color: #9b3a37;
  }

  #logo {
    width: 100%;
    /* Box-model */
    height: 60px;
    padding-top: 20px;
    padding-bottom: 5px;
    /* Positioning */
    margin-left: 0;
    font-family: Georgia, Times, "Times New Roman", serif;
    /* Typography */
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    /* Visual */
    background: #9b3a37;
  }
}
/* -----NAV END---- */




/* ----DESCRIPTION START---- */
.description-header {
  /* Positioning */
  margin-bottom: 33px;
  font-family: Georgia, Times, "Times New Roman", serif;
  /* Typography */
  font-size: 32px;
  font-weight: bold;
  color: #9b3a37;
}

.description-content {
  /* Box-model */
  padding: 30px;
  /* Positioning */
  margin-top: 32px;
  /* Visual */
  background-color: #fff;
}

.description-content > p {
  /* Box-model */
  /* padding-top: 10px; */
  /* Typography */
  font-size: 16px;
  line-height: 30px;
  color: slategray;
}

.description-text {
  padding-bottom: 20px;
}

#ddd-image {
  /* opacity: 0.5; */
  max-width: 100%;
  height: auto;
  /* margin-top: 20px; */
}

/* Description content media query */
@media only screen and (max-width: 767px) {
  /* override default class styling for positioning/padding */

  .description-content {
    /* Box-model */
    padding: 0;
    /* Positioning */
    margin-top: 0;
  }
}
/* ----DESCRIPTION END---- */




/* IMAGE NAV START */
.team-header {
  /* Positioning */
  margin-bottom: 33px;
  font-family: Georgia, Times, "Times New Roman", serif;
  /* Typography */
  font-size: 28px;
  font-weight: bold;
  color: #9b3a37;
}

.imageNav-photo {
  width: 180px;
  /* Box-model */
  height: 180px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.imageNav-photo:hover {
  /* Visuals */
  opacity: 0.6;
}

.fig-caption {
  text-align: center;
  color: slategray;
}
/* IMAGE NAV END */




/* ----FOOTER START---- */
.footer {
  /* Positioning */
  position: absolute;
  bottom: 0;
  /* Box-model */
  width: 100%;
  height: 60px;
  margin-top: 30px;
  /* Visual */
  background-color: #666;
}

.text-muted-footer {
  /* Positioning */
  margin-top: 15px;
  /* Typography */
  color: #fff;
}

.two-toned-footer-color {
  /* Box-model */
  height: 6px;
  padding-top: 3px;
  /* Visual */
  background-color: #9b3a37;
}
/* ----FOOTER END---- */

.upload_img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
